<!DOCTYPE html>
<html>
<head>
  <title>Star Wars Trivia</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <link rel="icon" type="image/ico" href="<%= image_path 'Favicon.ico' %>">
  <%= csrf_meta_tags %>
</head>
<body>
  <%= categories_script_tag %>

  <%= yield %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
